
.topic-list-item {
  padding: 10px 20px; 
  background-color: transparent; 
  color: #000000; 
  border: none;
  font-size: 18px; 
  font-weight: 500; 
  cursor: pointer; 
  transition: color 0.3s; 
}

.topic-list-item:hover {
  text-decoration: underline; 
  color: #333333; 
}